# Dependencies
node_modules/
vendor/

# Build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Vendored libraries
js/jsoneditor.js
js/jsoneditor.min.js
js/jsoneditor.map
css/jsoneditor.css
css/jsoneditor.min.css

# Lock files
package-lock.json
Gemfile.lock
